<form class="{{cssClass}} sgrpg flexcol itemsheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{!-- Header stuff goes here --}}
        <div class="header-fields">
            <h1 class="charname flexrow">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="70" width="70"/>
                {{#if isWeapon}}
                <div class="tech-level-box">
                    <div class="tech-level-label">Tech Level</div>
                    <input name="system.techLevel" type="text" value="{{data.techLevel}}" data-dtype="Number" class="tech-level-input"/>
                </div>
                {{/if}}
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item active" data-tab="stats">Stats</a>
        <a class="item" data-tab="lore">Lore</a>
    </nav>

    <section class="sheet-body flexcol">
        {{#if isWeapon}}
        <div class="tab" data-tab="stats" data-group="primary">
            {{> "systems/sgrpg/templates/sheets/parts/weapon-header.hbs"}}
        </div>
        <div class="tab" data-tab="lore" data-group="primary">
            {{> "systems/sgrpg/templates/sheets/parts/weapon-lore.hbs"}}
        </div>
        {{else}}
        <div class="tab" data-tab="stats" data-group="primary">
            {{> "systems/sgrpg/templates/sheets/parts/equip-stats.hbs"}}
        </div>
        <div class="tab" data-tab="lore" data-group="primary">
            {{> "systems/sgrpg/templates/sheets/parts/equip-lore.hbs"}}
        </div>
        {{/if}}
    </section>
</form>